body{
background:#111;
color:white;
font-family:Arial;
margin:20px;
}

h1{
text-align:center;
color:#00aaff;
}

.dashboard{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.box{
background:#222;
padding:20px;
border-radius:10px;
text-align:center;
}

.box h2{
font-size:32px;
color:yellow;
margin:0;
}

.box p{
margin-top:10px;
}

a{
color:#00aaff;
text-decoration:none;
font-weight:bold;
}
